{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}

    <div class="container mt-2" style="display: flex; background-color: rgb(255, 255, 255); flex-wrap: wrap;">
        
        <div class="card m-2" style="min-width: 380px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?k=20&m=1291208214&s=612x612&w=0&h=WbHbwklzP81iAWV0dPlQWuBLxnbqJFk81a9OZG6qvSM=" class="img-fluid m-1" alt="use image"
                    style="border-radius: 50%; width: 100px; height: 100px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Athif</h5>
                    <p class="card-text"><small class="text-muted">10 followers</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-2" style="min-width: 380px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?k=20&m=1291208214&s=612x612&w=0&h=WbHbwklzP81iAWV0dPlQWuBLxnbqJFk81a9OZG6qvSM=" class="img-fluid m-1" alt="use image"
                    style="border-radius: 50%; width: 100px; height: 100px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Athif</h5>
                    <p class="card-text"><small class="text-muted">10 followers</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-2" style="min-width: 380px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?k=20&m=1291208214&s=612x612&w=0&h=WbHbwklzP81iAWV0dPlQWuBLxnbqJFk81a9OZG6qvSM=" class="img-fluid m-1" alt="use image"
                    style="border-radius: 50%; width: 100px; height: 100px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Athif</h5>
                    <p class="card-text"><small class="text-muted">10 followers</small></p>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}