{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}

    <!-- <div class="container mt-2" style="display: flex; background-color: rgb(255, 255, 255); flex-wrap: wrap;">
            
        {% for usr in users %}
            <a href="{% url 'profile_view' usr.id %}">
                <div class="card m-2" style="width: 150px; height: 150px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?k=20&m=1291208214&s=612x612&w=0&h=WbHbwklzP81iAWV0dPlQWuBLxnbqJFk81a9OZG6qvSM=" class="img-fluid m-1" alt="use image"
                            style="border-radius: 50%; width: 50px; height: 50px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">{{ usr.username }}</h5>
                            <p class="card-text"><small class="text-muted">10 followers</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div> -->

    <div class="row">
        
        <div class="mt-2 col-md-9" style="display: flex; flex-wrap: wrap;">
            {% for usr in users %}
                <div class="card m-2" style="min-width: 350px; max-height: 125px;">
                    <a href="{% url 'profile_view' usr.id %}">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?k=20&m=1291208214&s=612x612&w=0&h=WbHbwklzP81iAWV0dPlQWuBLxnbqJFk81a9OZG6qvSM=" class="img-fluid m-1" alt="use image"
                                style="border-radius: 50%; width: 100px; height: 100px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">{{ usr.username }}</h5>
                                <p class="card-text"><small class="text-muted">10 followers</small></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <h5 class="m-2 text-secondary">Follow requests:</h5>

            {% for follw in followers %}
                <div class="w-100 my-4" style="display:flex;">
                    <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?k=20&m=1291208214&s=612x612&w=0&h=WbHbwklzP81iAWV0dPlQWuBLxnbqJFk81a9OZG6qvSM=" alt=""
                    style="border-radius: 50%; width: 50px; height: 50px">
                    <div>
                        <p style="margin-left: 23px; margin-bottom: 0;">{{ follw.requested_user }}</p>
                        <a href="{% url 'accept_follow_request' follw.requested_user.id %}"><span class="badge bg-info mx-3">Accept</span></a>
                        <a href="{% url 'reject_follow_request' follw.requested_user.id %}"><span class="badge bg-danger mx-1">Reject</span></a>
                    </div>
                </div>
            {% endfor %}

        </div>
        

    </div>

{% endblock %}