{% extends 'base.html' %}
{% block title %} Profile View {% endblock title %}

{% block content %}

    <div class="container mt-2 shadow-sm p-3 mb-5 bg-white rounded" style="display: flex; background-color: rgb(255, 255, 255); flex-wrap: wrap;">
        
        <div class="m-2" style="min-width: 100%; border: none; border-bottom: 2px solid #e0e0e0;">
            <div class="row g-0">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?k=20&m=1291208214&s=612x612&w=0&h=WbHbwklzP81iAWV0dPlQWuBLxnbqJFk81a9OZG6qvSM=" class="img-fluid m-1" alt="use image"
                    style="border-radius: 50%; width: 200px; height: 200px">
                </div>
                <div class="col-md-6 mt-3">
                    <div class="card-body">
                        <h5 class="title">{{ user.username }}</h5>
                        <div class="d-flex row">
                            <p class="col-md-5"><small class="text-muted">{{follow_count}} followers</small></p>
                        </div>

                        {% if request.user.username == user.username %}
                            <button type="button" class="btn btn-info btn-sm" id="uploadimage" onclick="clickImgBtn()">Upload image</button>
                            <button type="button" class="btn btn-success btn-sm" id="uploadvideo" onclick="clickVidBtn()">Upload video</button>

                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <p hidden>{{ form.image.label }}</p>
                                {{ form.image }}
                                <button hidden id="upldFrmBtn">Submit</button>
                            </form>
                            
                            <!-- <input type="file" name="video" hidden id="uploadvidinput" accept="video/*"> -->

                        {% else %}
                            {% if follow.status == "requested" %}
                                <a href="{% url 'follow' user.id %}"><button type="button" class="btn btn-info btn-sm">Requested</button></a>
                            {% elif follow.status == "accepted" %}
                                <a href="{% url 'unfollow' user.id %}"><button type="button" class="btn btn-info btn-sm">Unfollow</button></a>
                            {% else %}
                                <a href="{% url 'follow' user.id %}"><button type="button" class="btn btn-info btn-sm">Follow</button></a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>


        <div class="row bg-prmary d-flex">
            <div class="col-md-2"></div>

            {% if request.user.username == user.username %}
            
                <div class="col-md-10">
                    <div class="row" style="flex-wrap: wrap;">
                        {% for img in images %}
                            <div class="col-md-4 mt-2">
                                <img style="width:270px; height:270px;" src="/media/{{img.image }}" alt="photo">
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% else %}

                {% if follow.status == "accepted" %}
                    <div class="col-md-10">
                        <div class="row" style="flex-wrap: wrap;">
                            {% for img in images %}
                                <div class="col-md-4 mt-2">
                                    <img style="width:270px; height:270px;" src="/media/{{img.image }}" alt="photo">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p class="text-secondary" style="padding-left: 250px;">If you want to see {{user.username}}'s post then you follow him.</p>
                <!-- <div class="col-d-10">
                </div> -->
                {% endif %}

            {% endif %}
        </div>

    </div>

    <script>
        var upldImgFrmBtn = document.getElementById("upldFrmBtn")
        // var upldVidBtn = document.getElementById("uploadvideo")
        
        // var upldImgInpt = document.getElementsByTagName('label')[0].style.display = 'none';
        var upldImgInpt = document.getElementById("id_image")
        upldImgInpt.style.display = "none"

        // var upldUserInpt = document.getElementById("id_user")
        // upldUserInpt.style.display = "none"
        // upldUserInpt.options[0].text;

        var upldVidInpt = document.getElementById("uploadvidinput")

        function clickImgBtn() {
            upldImgInpt.click()
        }
        function clickVidBtn() {
            upldVidInpt.click()
        }
        upldImgInpt.addEventListener('change',function(e) {
            e.preventDefault()
            console.log("---onchange workng")
            upldImgFrmBtn.click()
            upldImgInpt.value = ""
        })

    </script>

{% endblock %}